<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Upload Files</title>
  </head>
  <script src="/app/upload.js"></script>
  <body>
    <form action="/app/index.html" method="post" enctype="multipart/form-data">
      <input type="file" name="files1" required="required"/>
      <input type="file" name="files2" required="required"/>
      <button type="submit">Merge pictures</button>
    </form>
    
  </body>
</html>